<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" name="Steven Kool">
   <title>{% block title %}{% endblock title %}</title>
   {% block content %}{% endblock content %}
</head>
<body style="width: 100%; margin: 0; padding: 0; background-color: #323232;">

   {% block body %}{% endblock body %}

   {% block script %}{% endblock script %}
    
</body>
</html>